body, h1, h2, h3, ul, ol, p, figure {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
}
ul, ol {
    list-style: outside none none;
}
a{
    text-decoration: none;
}
/* 頁首 */
#header {
    width: 100%;
    min-width: 1263px;
    height: 70px;
    background-color: #333;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999;
}
#header .center{
    width: 1263px;
    height: 70px;
    margin: 0 auto;
}
#header .logo {
    width: 240px;
    height: 70px;
    background-image: url(../images/logo.png);
    text-indent: -9999px; /* H1中的字往左偏移9999px */
    float: left;
}
#header .menu {
    width: 650px;
    height: 70px;
    line-height: 70px; /* 垂直置中 */
    color: #eee;
    float: right;
}
#header .menu li {
    width: 120px;
    text-align: center; /* 水平置中*/
    float: left;
}
#header .menu a {
    display: block; /* 將超聯結區域從'只有字'延伸至'整個li' */
    color: #eee;
}
#header .menu a:hover, 
#header .active a {
    background-color: #000;
    color: #eee;
}
/* 頁尾 */
#footer {
    width: 100%;
    min-width: 1263px;
    height: 360px;
    background-color: #222;
    clear: both;
}
#footer .top {
    width: 1263px;
    height: 281px;
    /* background-color: silver; */
    margin: 0 auto;
    text-align: center;
}
#footer .block {
    width: 410px;
    height: 280px;
    display: inline-block;
    text-align: left;
    color: #ccc;
    vertical-align: top; /* 強制標題至頂 */ 
}
#footer h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 20px 0 0 20px;
}
#footer hr {
    width: 90%;
    border: 1px dashed #333;
}
#footer ul {
    font-size: 18px;
    color: #777;
    text-indent: 20px; /* 第一行開頭距離 */
    line-height: 2;
}
#footer .bottom {
    height: 80px;
    background-color: #000;
    color: #666;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #444;
}